* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    margin: 2rem;
    font-size: 32pt;
}

.img-switcher {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}